#uno {
    font-family: "monospace", 'Courier New', "Courier";
}

#dos {
    font-family:  "Arial", 'Franklin Gothic Medium', 'Arial Narrow';
}

#tres {
    font-family: "sans-serif", 'Segoe UI', "Tahoma";
}

#catorce {
    font-family: "serif", "Georgia", 'Times New Roman';
}

#cien {
    font-family: "cursive", "Verdana", "Tahoma";
}