.parent {
    border: 2px black dotted;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
}

.box {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border: 1px solid;
    background: steelblue;
}