@import url("https://fonts.googleapis.com/css?family=Roboto&effect=neon|outline|emboss|shadow-multiple|fire-animation");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



.glyphs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px ;
}

.glyphs i {
    font-size: 40px;
}
h1,h3,h4 {
    font-family: "Roboto";
}


.fa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px ;
}

.material {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px ;
}

.material i {
    font-size: 50px;
}
body {
    background-color: ivory;
}

